<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metadata</title>
</head>

<body>
    <h1>Metadata</h1>
    <ol>
        <li>
            Publisher : Bloomsbury Children's Books; Latest edition (1 September 2014)
        </li>
        <li>
            Language : English
        </li>
        <li>
            Paperback : 640 pages
        </li>
        <li>
            ISBN-10 : 1408855712
        </li>
        <li>
            ISBN-13 : 978-1408855713
        </li>
        <li>
            Reading age : Customer suggested age: 9 - 12 years
        </li>
        <li>
            Country of Origin : United Kingdom
        </li>
    </ol><br>
    <<<< Click <a href="{% url 'home' %}">here</a> to go back to home page
</body>

</html>