<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
</head>
<body>
    <h1>Book Reviews</h1>

    <ul>
        <li>I can't believe its over.... I've FINALLY read the Harry Potter series.
            And WHAT an ending to the series this book was.. <b>~Anonymous 1</b></li>
        <li>I hadn't read this book in so long... it's been great to reread it and notice all the details I had forgotten! It was perfect for the holidays (even though this one is quite dark!) <b>~Writer 2</b></li>
    </ul>
    <br> <<<< Click <a href="{% url 'home' %}">here</a> to go back home
</body>
</html>